.container-fluid{
    margin-top: 5px;
    background-color:rgba(51, 100, 81, 0.281);
    /* padding-left: 0; */
}
.top{
    background-color: white;
    /* margin-left: 10px; */
}
nav{
    margin: 30px;
    /* background-color:rgba(65, 129, 104, 0.411); */
}
.content{
    margin-bottom: 10px;
    margin-left: 70px;
    height: 200px;
}
.content-left{
    overflow: hidden;
    /* border: 1px solid blanchedalmond;    */
    padding: 0;
    margin: 0px;
    max-width: 100%;
}
.content-left img{
    width : auto;
    width : 300px;
    height : auto;
    height : 200px;

}
.content-mid{
    border: none;
}
.content-right{
    margin: 0px;
    padding: 50px; 
    /* border:2px solid blanchedalmond; */
    word-break: break-all;
    min-width: 50px;
    max-width: 700px;
    background-color: white;
    border-radius:10px;
}
P{
    color: rgba(155, 135, 135, 0.774);
    margin: 0;
}
h2{
    margin: 0;
}
.button{
    text-align:center;
}